/*CONFIG - BEGIN------------*/
@font-face {
    font-family: "Decker";
    src: url('fonts/decker/Decker.ttf'), 
        url('fonts/decker/Decker.eot');
}
@font-face {
    font-family: "Decker";
    src: url('fonts/decker/DeckerB.ttf'), 
        url('fonts/decker/DeckerB.eot');
    font-weight: bold;
}
/*CONFIG - END--------------*/

/*RESET - BEGIN-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Decker, Verdana, Arial, sans-serif;
    color: white;
    font-size: 18px;
}
ul {
    list-style: none;
}
/*RESET - END---------------*/


/*BODY - BEGIN--------------*/
body {
    background-color: #222;
    top: 0;
    position: absolute;
    width: 100%;
}
/*BODY - END----------------*/


/*GENERAL - BEGIN*/
.hidden {
    visibility: hidden;
}
.clear {
    clear: both;
}
.left-float {
    float: left;
}
.right-float {
    float: right;
}
input[type="search"],
input[type="password"],
input[type="text"],
input[type="email"],
textarea {
    color: #111;
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
}
/*GENERAL - END*/


/*HEADER - BEGIN------------*/
header {
    margin-bottom: 2em;
}
/*MENU - BEGIN--------------*/
header .menu a {
    text-decoration: none;
    display: inline-block;
}
header .menu a:hover {
    background-color: #69BB00;
}
header .menu ul {
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    background-color: #222;
}
header .menu li > ul > li {
    /*box-sizing: content-box;
    padding: .2em .4em;*/
}
header .menu li > ul > li > a {
    width: 100%;
}
header .menu li:hover > ul {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    transition: opacity .7s ease-in;
    -webkit-transition: opacity .7s ease-in;
    -o-transition: opacity .7s ease-in;
    -moz-transition: opacity .7s ease-in;
}
header .menu > li {
    position: relative;
    float: left;
}
header .menu > li > a {
    line-height: 3em;
    padding: 0 1em;
    height: 3em;
}
/*MENU - END----------------*/

/*SEARCH - BEGIN------------*/
header .search-field-wrapper {
    line-height: 3em;
    padding: 0 2em;
}
header .search-field-wrapper input[type="search"] {
    width: 300px;
    height: 2em;
    padding: 0 .2em;
}
/*SEARCH - END--------------*/

/*ACCOUNT - BEGIN-----------*/
header .account-nav {
    line-height: 3em;
}
header .account-nav button {
    border: 0;
    margin: 0;
    height: 3em;
    padding: 0 1em;
    background-color: #396600;
    float: right;
    margin-left: .2em;
    cursor: pointer;
}
header .account-nav button:hover {
    background-color: #69BB00;
}
/*ACCOUNT - END-------------*/
/*HEADER - END--------------*/

/*CONTENT - BEGIN-----------*/
.music-list-article li {
}
.music-list-article li > img {
    height: 280px;
}
.music-list-article li > div {
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    width: 280px;
    height: 280px;
    position: absolute;
    background-color: #000;
    visibility: hidden;
    background-image: url('../img/icons/play.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 180px;
}
.music-list-article li:hover > div {
    transition: opacity .4s;
    -moz-transition: opacity .4s;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    visibility: visible;
    opacity: 0.70;
    -moz-opacity: 0.70;
    filter: alpha(opacity=70);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    background-color: #000;
    z-index: 1000;
    opacity: 0.70;
    -moz-opacity: 0.70;
    filter: alpha(opacity=70);
}
.overlay-content {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;
}
/*CONTENT - END-------------*/